@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranSans/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSans/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranSans/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: iransansnum;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSans/eot/IRANSans(FaNum)_Medium.eot");
  src: url("../fonts/iranSans/eot/IRANSans(FaNum)_Medium.eot") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: iransansnum;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Light.eott");
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Light.eot") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: iransansnum;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranSans/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSans/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranSans/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: iransansnum;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSans/eot/IRANSans(FaNum)_Medium.eot");
  src: url("../fonts/iranSans/eot/IRANSans(FaNum)_Medium.eot") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: iransansnum;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Light.eott");
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Light.eot") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: iransansnum;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot") format("embedded-opentype"), url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  text-align: right;
  font-family: iransans, Tahoma;
  font-weight: 400;
  background: #150040;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.form_style3 .form-control {
  border: 0;
}

.form_style1 .form-control,
.form_style1 .form-control:focus,
.form_style3 .form-control,
.form_style3 .form-control:focus {
  border-radius: 40px;
}

.form-control {
  height: 47px;
  padding: 10px 20px;
}

* {
  outline: unset;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none !important;
}

button:focus {
  outline: none !important;
}

div#selection_bubble {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

.form-control:focus {
  box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #d5c783;
  background-color: #d5c783;
}

.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* menu */
.searchActon {
  color: #fff;
  display: inline-block;
  margin: 0 .5rem;
  font-size: .7rem;
  transition: .3s ease all;
}

.searchActon:hover {
  color: #ddd;
  transform: rotateZ(15deg);
}

@media only screen and (max-width: 600px) {
  .searchActon {
    font-size: 1rem;
  }
}

.servicesItems {
  background-color: #08001A;
  padding: 1rem;
  margin: 15px 0;
  text-align: center;
  min-height: 250px;
  border-radius: 3px;
}

.servicesItems img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100px;
}

.servicesItems h4 {
  color: #00EDFF;
  font-size: .9rem;
  margin: .75rem 0;
}

.servicesItems p {
  color: #fff;
  font-size: .7rem;
  line-height: 1.8;
  font-weight: 100;
}

header.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

header.header .mobile_menu {
  position: absolute;
  z-index: 2147483647;
  top: 0px;
  right: -80%;
  width: 80%;
  transition-property: all;
  transition-duration: 0.3s;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
}

header.header .mobile_menu .mobile_menu_top {
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
  background-position: top;
  background-color: #000;
  position: relative;
}

header.header .mobile_menu .mobile_menu_top:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  bottom: 0;
}

header.header .mobile_menu .maseh_menu {
  -webkit-overflow-scrolling: touch;
  line-height: 1.5;
}

header.header .mobile_menu .mobile_menu_bg {
  position: fixed;
  top: 0px;
  z-index: -1;
  height: 120%;
  right: -80%;
  width: 80%;
  background-color: rgba(4, 0, 12, 0.8);
  transition-property: all;
  transition-duration: 0.3s;
}

header.header .mobile_menu .maseh_menu .mobile_menu_title {
  width: 100%;
  background-size: cover;
  height: 260px;
  margin: 0px auto;
  z-index: 1;
  position: relative;
  opacity: 1;
}

header.header .mobile_menu .maseh_menu .mobile_menu_title a {
  color: #fff;
}

header.header .mobile_menu .maseh_menu .mobile_menu_title span {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

header.header .mobile_menu .maseh_menu .mobile_menu_title:after {
  content: "";
  background: -webkit-gradient(left bottom, right top, color-stop(27%, #07a3eb), color-stop(100%, #bf0007));
  background: linear-gradient(45deg, #07a3eb 27%, #bf0007 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07a3eb', endColorstr='#bf0007', GradientType=1);
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  left: 0px;
  opacity: 0.7;
}

header.header .mobile_menu .maseh_menu #mobile_menu {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

header.header .mobile_menu .maseh_menu #mobile_menu li {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

header.header .mobile_menu .maseh_menu #mobile_menu li a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 13px 25px 13px 10px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(4, 0, 12, 0.1);
  border-bottom: 1px solid rgba(45, 152, 174, 0.14118);
  font-weight: 100;
}

header.header .mobile_menu .maseh_menu #mobile_menu li a.menu_list.active:not(:only-child).has_children:after {
  font-weight: 700;
  font-size: 14px;
  content: "\2212";
  font-family: 'Glyphicons Halflings';
  display: block;
  position: absolute;
  top: 40%;
  margin-top: -5.5px;
  left: 15px;
  transition: all 0.3s ease-in-out;
}

header.header .mobile_menu .maseh_menu #mobile_menu li a.menu_list.active:not(:only-child):after {
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg) !important;
}

header.header .mobile_menu .maseh_menu #mobile_menu li a:not(:only-child).has_children:after {
  font-weight: 700;
  font-size: 14px;
  content: "\2212";
  font-family: 'Glyphicons Halflings';
  display: block;
  position: absolute;
  top: 40%;
  margin-top: -5.5px;
  left: 15px;
  transition: all 0.3s ease-in-out;
}

header.header .mobile_menu .maseh_menu #mobile_menu li a:not(:only-child):after {
  font-weight: 700;
  font-size: 14px;
  content: "+";
  font-family: 'Glyphicons Halflings';
  display: block;
  position: absolute;
  top: 40%;
  margin-top: -5.5px;
  left: 15px;
  transition: all 0.3s ease-in-out;
}

header.header .mobile_menu .maseh_menu #mobile_menu li ul {
  margin: 0;
  padding: 0;
}

header.header .mobile_menu .maseh_menu #mobile_menu li ul li a {
  background-color: #fff;
  padding-right: 25px;
}

header.header .mobile_menu .maseh_menu #mobile_menu li ul li ul li a {
  background-color: #fff;
  padding-right: 42px;
}

header.header .mobile_menu .site_bg {
  position: fixed;
  right: 0;
  top: 0px;
  width: 100%;
  z-index: -2;
  height: 120%;
  display: none;
  background: #00000069;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  transition-property: all;
  transition-duration: 0.3s;
}

header.header .mobile_menu li i {
  margin-left: 11px;
  display: inline-block;
  background: #bf0007;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #bf0007), color-stop(100%, #207ce5));
  background: linear-gradient(135deg, #bf0007 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf0007', endColorstr='#207ce5', GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  header.header .mobile_menu.active, header.header .mobile_menu .mobile_menu_bg.active {
    right: 0;
  }
  header.header .mobile_menu .site_bg.active {
    display: block;
  }
}

header.header .navbar-brand {
  max-width: 50px;
}

@media screen and (max-width: 426px) {
  header.header .navbar-brand {
    max-width: 80px;
    padding: 0;
  }
}

header.header .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: .7rem;
  font-weight: 300;
}

header.header .boxActions {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.header .boxActions .loginAction {
  font-size: .7rem;
  color: #000;
  background-color: #fff;
  font-weight: 300;
  border-radius: 25px;
  padding: .3rem .5rem;
}

header.header .boxActions .searchActon {
  color: #fff;
  display: inline-block;
  margin: 0 .5rem;
  font-size: .7rem;
}

header.header .navbar-toggler {
  color: #fff;
}

header.header .menuMobActions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header.header .menuMobActions img {
  width: 50px;
}

header.header .menuMobActions button {
  background-color: transparent;
  color: #fff;
  border: none;
  height: 50px;
  width: 50px;
}

header.header .mobile_menu li {
  transition: .3s ease all;
}

header.header .mobile_menu li:first-child a {
  display: flex !important;
  justify-content: space-between;
}

header.header .mobile_menu li a {
  transition: .3s ease all;
  border: none !important;
}

header.header .mobile_menu li:hover a {
  background: linear-gradient(90deg, #060013 25%, #0d002a 83%);
}

header.header .mobile_menu li.li-category {
  border-top: 1px solid #cccc;
  padding-top: .9rem;
}

header.header .mobile_menu li.li-category p {
  display: flex !important;
  justify-content: space-between;
  color: #fff;
  padding: 13px 25px 13px 10px;
  font-weight: 100;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../img/landing page.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .hero {
    background-position: top left;
  }
}

.hero__content {
  position: absolute;
  top: 30%;
  right: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .hero__content {
    left: 0;
    right: 0;
    top: 65%;
    height: max-content;
    padding: 0 1.5rem;
  }
}

.hero__content .hero__text {
  padding-right: 2rem;
  border-right: 6px solid #fff;
}

.hero__content .hero__text h1 {
  color: #ffc400;
  text-shadow: 0 0 10px #ffc400;
  font-weight: 300;
  font-size: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .hero__content .hero__text h1 {
    font-size: 2.5rem;
  }
}

.hero__content .hero__text p {
  font-weight: 300;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 6px;
}

@media only screen and (max-width: 600px) {
  .hero__content .hero__text p {
    letter-spacing: 3px;
  }
}

.hero__content .hero__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .hero__content .hero__actions {
    margin-top: .75rem;
  }
}

.hero__content .hero__actions a {
  max-width: 120px;
  margin: 0 .25rem;
}

.categoriesList__wrapper {
  color: #fff;
  display: flex;
  background-color: #04000C;
  align-items: center;
  padding: .5rem .75rem;
  margin-top: -1rem;
  z-index: 1;
  position: relative;
}

.categoriesList__wrapper a {
  font-weight: 100;
  color: #fff;
  margin: 0 .5rem;
  font-size: .7rem;
}

.main-words {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-words img {
  max-width: 120px;
}

.main-words p {
  margin-top: .75rem;
  color: #fff;
  text-align: center;
  font-weight: 100;
  line-height: 1.8;
}

.services__download {
  background-color: #08001A;
}

.services__preview {
  text-align: center;
  color: #fff;
}

.services__preview p {
  font-weight: 100;
  font-size: .8rem;
  margin-top: .65rem;
}

.services__linksWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.services__linksWrapper a {
  margin: 0 .25rem;
  max-width: 100px;
}

@media only screen and (max-width: 600px) {
  .services__linksWrapper {
    flex-direction: column;
    align-items: center;
  }
  .services__linksWrapper a {
    max-width: 60%;
    margin: .5rem 0;
  }
}

footer.footer {
  margin-top: 5rem;
}

footer.footer .logoFooter img {
  max-width: 150px;
}

footer.footer p {
  font-size: .9rem;
  color: #fff;
}

footer.footer .socialMedias {
  display: flex;
  justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */